@import '../../styles/core';

.edit-link__select-entity-dropdown {
  margin-bottom: 1.5rem;
}

.entity-name {
  margin-right: 1rem;
}

.parent-label-for-entity {
  padding: .125rem .25rem;
  font-size: .875rem;
  background: #f0f0f0;
  border-radius: 6px;
}
