@import '../../styles/core';

.entity-list {
  margin-bottom: 1.5rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-radius: 2px;
}

.entity-list__item {
  font-size: .875rem;
  text-align: left;
  padding: .425rem .1rem .25rem 1rem;
  border-bottom: 1px solid #ccc;
}

.entity-list__item p {
  margin-bottom: 0;
}

.entity-list__item-name {
  flex: 2;
}

.entity-list__item-name.is-clickable:hover {
  cursor: default;
  color: $app-green;
  text-decoration: underline;
}

.entity-list__item-control {
  flex: 1.5;
}

.link-icon-button {
  margin-left: auto;
  margin-right: 0;
  border-radius: 4px;
  width: 1.8rem;
  height: 1.8rem;
  padding: .325rem;
  background: transparent;
  margin-bottom: 0;
}

.link-icon-button img {
  width: 30px;
}

.link-icon-button:hover, .link-icon-button:focus {
  background: #f0f0f0;
}

.entity-list__confirm-delete {
  cursor: default;
  color: $app-red;
  margin-left: 1em;
  margin-right: .9em;
  display: inline-block;
}

.entity-list__confirm-delete:hover {
  text-decoration: underline;
}

.entity-list__cancel-delete {
  cursor: default;
  display: inline-block;
}

.entity-list__cancel-delete:hover {
  opacity: .7;
}
