@import '../../styles/core';

.entity-list {
  margin-bottom: 1.5rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-radius: 2px;
}

.entity-list__item {
  font-size: .875rem;
  text-align: left;
  padding: .425rem 1rem .25rem 1rem;
  border-bottom: 1px solid #ccc;
}

.entity-list__item p {
  margin-bottom: 0;
}

.link-icon-button {
  border-radius: 4px;
  width: 1.8rem;
  height: 1.8rem;
  padding: .325rem;
  background: transparent;
  margin-bottom: 0;
}

.link-icon-button img {
  width: 30px;
}

.link-icon-button:hover, .link-icon-button:focus {
  background: $app-green;
}
